.post-link-container {
    border: 1px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  
  .post-link-container:hover {
    border: 1px solid #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }